body {
  background-color: rgb(235, 235, 235);
  font-family: 'Open Sans', Arial;
}
h1 {
  color: rgb(221, 85, 85);
  font-weight: 900;
}
h2  {
  color: rgb(102, 102, 102);
  font-size: 120%;
}
p {
  text-align: justify;
  color: rgb(102, 102, 102);
  padding: 0 20px 20px 20px;
}
.content {
  width: 100%;
  height: auto;
}
.bio {
  display: block;
  width: 40%;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 5px;
}
.social_media {
  display: block;
  width: 40%;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 5px;
}
.social_media ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}
.social_media ul li {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}
.social_media ul li a {
  text-decoration: none;
  color: rgb(179, 179, 179);
}
.movies {
  display: ;
}
#Tim {
  border-radius: 50%;
  border: solid rgb(235, 235, 235) 6px;
  height: 120px;
}
.button {
  color: rgb(255, 255, 255);
  background-color: rgb(221, 85, 85);
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.movies {
  display: block;
  width: 40%;
  max-width: 40%;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 5px;
}

.movies img {
  width: 100px;
  height: auto;
}
